@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Inter&family=Playfair+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    scroll-behavior: smooth;
}
  

body {
    font-family: 'Inter', sans-serif;
    color: #614BC3;
    background: #D0BFFF;
    overflow-x: hidden;
}

canvas{
    position: absolute;
    top: 5rem;
    left: 29rem;
    overflow: hidden;
}

@media screen and (max-width: 1450px) {
    canvas {
        visibility: hidden;
    }
  }
  

.circularText{
    background: #614BC3;
    color: white;
}

@media screen and (max-width: 640px) {
    .circularText{
        background: transparent;
        color: #614BC3;
        text-decoration: underline;
    }
}

.Croissant {
    font-family: 'Croissant One', cursive;
}

.Playfair {
    font-family: 'Playfair Display', serif;
}

main h1 {
    line-height: 1.3 !important;
}


.mobileNav {
    top: 0rem;
    right: 0;
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    justify-content: center;
    margin: 0;
    align-items: center;
    background: #fff;
}

.mobileNav li {
    font-size: 3rem;
}

.hoverNavItems{
    @apply hover:bg-white
}

.aboutPage {
    color: #b48037;
    background: #FFF2D8;
}

.workPage {
    color: #0582ca;
    background: #b6ccfe;
}

.contactPage {
    color: #526D82;
    background: #DDE6ED;
}

.logo>img {
    filter: invert(29%) sepia(59%) saturate(1888%) hue-rotate(232deg) brightness(88%) contrast(88%);
}

.aboutPage .logo>img {
    filter: invert(58%) sepia(10%) saturate(2598%) hue-rotate(355deg) brightness(88%) contrast(90%);
}

.workPage .logo>img {
    filter: invert(35%) sepia(86%) saturate(991%) hue-rotate(171deg) brightness(96%) contrast(97%);
}

.contactPage .logo>img {
    filter: invert(41%) sepia(9%) saturate(1443%) hue-rotate(164deg) brightness(95%) contrast(88%);
}

.skillsSection ul li {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: 2px solid #b48037;
    border-radius: 50px;
}

.skillsSection ul li:hover{
    background: #b48037;
    color: white;
}

.experienceSection ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.experienceSection .expCard{
    margin-bottom: 2rem;
}

.contactList ul li a{
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
    border: 2px solid #526D82;
    border-radius: 50px;
    align-items: center;
}

.contactList ul li a:hover{
    background: #526D82;
    color: white;
}

/* Scroll */
 
.go-down-btn {
    z-index: 1;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 3rem;
}
.go-down-btn svg {
    position: relative;
    z-index: -1;
    display: block;
    top: 2rem;
    left: 2rem;
    padding: 1rem;
}
.go-down-btn text {
    font-size: 11px;
    transform-origin: center;
}
@keyframes rotate-btn {
    to {
        transform: rotate(360deg);
   }
}
.go-down-btn text {
    animation: rotate-btn 10s linear infinite;
}

.go-down-btn:hover text {
    cursor: pointer;
    animation: rotate-btn 1s linear infinite;
}


/* Blogs */

.blog-card{
    min-height: 200px;
}