@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root {
  --bg-world: #ffffff;
  --text-world: #333333;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-world);
  color: var(--text-world);
  font-family: 'circular', sans-serif;
  scroll-behavior: smooth;
}

.main-nav {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.filter-box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#triangle {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 40px solid white;
  border-bottom: 20px solid transparent;
  top: 19rem;
}

.shadow-filter {
  filter: drop-shadow(2px 2px 5px #fff);
}

/* Animations */

.shake-horizontal {
  -webkit-animation: shake-horizontal 1.2s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2 both;
  animation: shake-horizontal 1.2s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2 both;
}

@-webkit-keyframes shake-horizontal {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@keyframes shake-horizontal {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

.gradient {
  background: hsla(208, 67%, 81%, 1);

  background: linear-gradient(90deg, hsla(208, 67%, 81%, 1) 0%, hsla(37, 65%, 85%, 1) 50%, hsla(301, 65%, 83%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(208, 67%, 81%, 1) 0%, hsla(37, 65%, 85%, 1) 50%, hsla(301, 65%, 83%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(208, 67%, 81%, 1) 0%, hsla(37, 65%, 85%, 1) 50%, hsla(301, 65%, 83%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#AED1EF", endColorstr="#F2DFC1", GradientType=1);
}

.logo-wyr {
  filter: drop-shadow(2px 2px 2px black);
}